

canvas {
	
	vertical-align: bottom;
}

#particles-js {
  position : absolute;
  width:100%;
  height:100%;
  z-index:-200;

}

.content{
  position: absolute;
  width: 100%;
  overflow: auto
}

html {
  height: 100%;
  margin: auto;
}

* {margin: 0; padding: 0;}
body{
  background-color: #1f1f1f;
}
h1{
    margin-top: 30px;
    font-size: 100px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-family: 'PT Sans Caption', sans-serif;
    text-shadow: #000 10px 10px 10px;}
.Interests {
     color: lightblue;
     font-size: 25px;
     text-shadow: #000 2px 2px 2px;
     letter-spacing: 2px;}
.myinterests {
    color: grey;
    font-size: 20px;
    text-shadow: #000 10px 10px 10px;
    letter-spacing: 2px;}
.socials{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 40px;
    text-shadow: #000 10px 10px 10px;;
}
.aka{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 20px;
    color: rgb(172, 172, 172);
}


.picture{
     border-radius: 10px;
     width: 20%
}

.nez{
  font-size: 600%;
}
.fa {
      padding: 20px;
      font-size: 30px;
      width: 35px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }
    
    .fa-twitter {
      background: #888888;
      color: black;
    }
    
    .fa-instagram {
      background: #888888;
      color: black;
    }

    .fa-github {
      background: #888888;
      color: black;
    }


    




    
